@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("../../public/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}

:root {
  color: white;
  font-weight: 400;
}

main,
html {
  overflow-x: hidden;
}

h1 {
  font-family: "Outfit";
  font-size: 64px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -1.5px;
}

h2 {
  font-family: "Outfit";
  font-size: 48px;
  font-weight: semi-bold;
  line-height: 100%;
  letter-spacing: -1px;
}

p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
}
