@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("../../public/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}

:root {
  color: white;
  font-weight: 400;
}

main,
html {
  overflow-x: hidden;
}
